{{ $minimal := .minimal }}
{{ range .entries }}
    <div class="{{ if $minimal }}collapsible-minimal{{ else }}collapsible{{end}}">
        <div class="sidebar">
            {{ if .title }}
                <span class="sidebar-item">
                    {{- if .website -}}
                        <a href="{{ .website }}">{{ .title | markdownify }}</a>
                    {{- else -}}
                        {{ .title | markdownify }}
                    {{- end -}}
                </span>
            {{ end }}
            {{ if .subtitle }}
                <span class="sidebar-item">{{ .subtitle | markdownify }}</span>
            {{ end }}
            {{ partial "components/date-range" . }}
            {{ with .keywords }}
                <span class="sidebar-keywords">
                    {{ range . }}
                        <span class="keyword">{{ . | markdownify }}</span>
                    {{ end }}
                </span>
            {{ end }}
        </div>
        <div class="main">
            <div>{{ .content | markdownify }}</div>
        </div>
    </div>
{{ end }}
