{{ define "head" }}
    {{ $sass := resources.Get "style/main.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" />
{{ end }}

{{ define "dateRange" }}
    <span class="sidebar-item date">
        {{- if (eq .startDate .endDate) -}}
            {{- if .startDate -}}
                <span class="only-date">{{ dateFormat "Jan 2006" .startDate }}</span>
            {{- end -}}
        {{- else -}}
            {{- if .startDate -}}
                <span class="start-date">{{ dateFormat "Jan 2006" .startDate }}</span>
            {{- else -}}
                <span class="start-date"></span>
            {{- end -}}

            {{- if .endDate -}}
                <span class="end-date">{{ dateFormat "Jan 2006" .endDate }}</span>
            {{- else -}}
                <span class="end-date">Present</span>
            {{- end -}}
        {{- end -}}  
    </span>
{{ end }}

{{ define "main" }}
    <section class="basics">
        {{ with .Site.Data.resume.basics }}
            <h1>{{ .name }}</h1>
            <div class="information">
                <div>
                    <a href="{{ .website }}">{{ .website }}</a>
                </div>
                <div>
                    {{ with .email }}
                        <div class="information-part">{{ . }}</div>
                    {{ end }}
                    {{ with .phone }}
                        <div class="information-part">{{ . }}</div>
                    {{ end }}
                </div>
                <div>
                    {{ with .location.address }}
                        <div class="information-part">{{ . }}</div>
                    {{ end }}
                    {{ with .location.city }}
                        <div class="information-part">{{ . }}</div>
                    {{ end }}
                    {{ with .location.region }}
                        <div class="information-part">{{ . }}</div>
                    {{ end }}
                    {{ with .location.countryCode }}
                        <div class="information-part">{{ . }}</div>
                    {{ end }}
                </div>
            </div>
            {{ with .summary }}
                <div class="summary">{{ . | markdownify }}</div>
            {{ end }}
        {{ end }}
    </section>

    <section>
        <h2 class="header">Education</h2>
        {{ range .Site.Data.resume.education }}
            <div class="collapsible">
                <div class="sidebar">
                    <span class="sidebar-item">{{ .area }} {{ .studyType }}</span>
                    <span class="sidebar-item">{{ .institution }}</span>
                    {{ block "dateRange" . }}{{ end }}
                </div>
                <div class="main">
                    {{ with .summary }}
                        <div>{{ . }}</div>
                    {{ end }}
                    {{ with .courses }}
                        <ul>
                            {{ range . }}
                                <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </section>

    <section>
        <h2 class="header">Projects</h2>
        {{ range .Site.Data.resume.projects }}
            <div class="collapsible">
                <div class="sidebar">
                    <span class="sidebar-item">{{ .name }}</span>
                    <span class="sidebar-keywords">
                        {{ range .keywords }}
                            <span class="keyword">{{ . }}</span>
                        {{ end }}
                    </span>
                    {{ with .website }}
                        <a href="{{ . }}" class="sidebar-item">{{ . }}</a>
                    {{ end }}
                </div>
                <div class="main">
                    {{ with .summary }}
                        <div>{{ . | markdownify }}</div>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </section>

    <section>
        <h2 class="header">Work</h2>
        {{ range .Site.Data.resume.work }}
            <div class="collapsible">
                <div class="sidebar">
                    <span class="sidebar-item">{{ .company }}</span>
                    <span class="sidebar-item">{{ .position }}</span>
                    {{ block "dateRange" . }}{{ end }}
                </div>
                <div class="main">
                    {{ with .summary }}
                        <div>{{ . | markdownify }}</div>
                    {{ end }}
                    {{ with .highlights }}
                        <ol>
                            {{ range . }}
                                <li>{{ . | markdownify }}</li>
                            {{ end }}
                        </ol>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </section>

    <section>
        <h2 class="header">Skills</h2>
        {{ range .Site.Data.resume.skills }}
            <div class="collapsible-minimal">
                <div class="sidebar">
                    <span class="name">{{ .name }}</span>
                    {{ with .level }}
                        &mdash;
                        <span class="level">{{ . }}</span>
                    {{ end }}
                </div>
                <div class="main">
                    {{ range .keywords }}
                        <span class="keyword">{{ . }}</span>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </section>


    <section>
        <h2 class="header">Volunteering</h2>
        {{ range .Site.Data.resume.volunteer }}
            <div class="collapsible">
                <div class="sidebar">
                    <span class="sidebar-item">{{ .organization }}</span>
                    <span class="sidebar-item">{{ .position }}</span>
                    {{ block "dateRange" . }}{{ end }}
                </div>
                <div class="main">
                    {{ with .summary }}
                        <div>{{ . | markdownify }}</div>
                    {{ end }}
                    {{ with .highlights }}
                        <ol>
                            {{ range . }}
                                <li>{{ . | markdownify }}</span>
                            {{ end }}
                        </ol>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </section>

    <section>
        <h2 class="header">Awards</h2>
        <div class="grid">
        {{ range .Site.Data.resume.awards }}
            <div class="grid-item">
                <div class="top">
                    <span class="top-item">{{ .title }}</span>
                    <span class="top-item">{{ .awarder }}</span>
                    <span class="top-item">{{ dateFormat "Jan 2006" .date }}</span>
                </div>
                <div class="main">{{ .summary | markdownify }}</div>
            </div>
        {{ end }}
        </div>
    </section>

    <section>
        <h2 class="header">Interests</h2>
        {{ range .Site.Data.resume.interests }}
            <div class="collapsible">
                <div class="sidebar">
                    <span class="sidebar-item">{{ .name }}</span>
                    <div class="keywords">
                        {{ range .keywords }}
                            <span class="keyword">{{ . }}</span>
                        {{ end }}
                    </div>
                </div>
                <div class="main">
                    {{ with .summary }}
                        <div>{{ . | markdownify }}</div>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </section>

    {{ .Content }}
{{ end }}
