{{ with .Site.Params.styles }}
$highlight: {{ .highlight }};
:root {
    --highlight: #{$highlight};
    --highlight-header: #{darken($highlight, 12%)};
    --highlight-link: #{darken($highlight, 15%)};
    --highlight-link-visited: #{darken($highlight, 25%)};

    --highlighted-text: #{if(lightness($highlight)>30,black,white)};
}
{{ end }}